.navbar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 90%;
  margin: 20px auto;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 50px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 55px;
}

.logo-text h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  color: #0f5132;
}

.logo-text p {
  font-size: 11px;
  margin: 0;
  color: #555;
}

.menu {
  display: flex;
  gap: 35px;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding-bottom: 5px;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #198754;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.menu a.active-link::after {
  width: 100%;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(135deg, #4CAF50, #2ecc71);
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  text-decoration: none;
}

.mobile-login-btn {
  display: none;
}

.login-btn:hover {
  background: #39ff14;
  color: #003300;
  transform: scale(1.05);
  box-shadow: 0 0 15px #39ff14;
}

.lock-icon {
  font-size: 16px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #0f5132 !important;
  transition: all 0.3s ease;
  z-index: 1200;
}

.hamburger:hover {
  transform: scale(1.08);
}

.hamburger.active {
  color: #e53935 !important;
  transform: rotate(90deg);
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    width: 95%;
    padding: 12px 30px;
  }

  .menu {
    position: absolute;
    top: 88px;
    right: 12px;
    background: white;
    flex-direction: column;
    width: 220px;
    padding: 20px;
    gap: 15px;
    display: none;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }

  .menu.active {
    display: flex;
  }

  .login-btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo-text p {
    display: none; 
  }

  .mobile-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    padding: 11px 18px 18px;

    background: linear-gradient(135deg, #4CAF50, #2ecc71);
    color: white !important;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.4;
    transition: all 0.3s ease;
  }

  .mobile-login-btn svg {
    position: relative;
    top: -1px;
  }
}